.stats--section {
  height: 100vh;
  background: linear-gradient(
      rgba(darken($primary, 30%), 0.5),
      rgba($primary, 0.5),
      rgba(lighten($primary, 5%), 0.5)
    ),
    url('../assets/images/laptop.jpg') center no-repeat;
  background-size: cover;
  @include large-screen {
    height: 50vh;
  }
}
